@{
    ViewData["Title"] = "Home Page";
}

<div style="width: 100%; max-width: 400px; max-height: 420px; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto">
    <div class="row">
        <div class="center col s12 m12 l12">
            <a asp-controller="CalculadoraSimples" asp-action="Index" class="waves-effect waves-light grey lighten-1 btn">
                <i class="material-icons left">
                    <img src="~/src/gifs/Crystal_Coin.gif" />
                </i>Calculadora Simples
            </a>
        </div>
    </div>
    <div class="row">
        <div class="center col s12 m12 l12">
            <a asp-controller="CalculadoraCompleta" asp-action="Index" class="waves-effect waves-light grey lighten-1 btn">
                <i class="material-icons left">
                    <img src="~/src/gifs/Bar_of_Gold.gif" />
                </i>Calculadora Completa
            </a>
        </div>
    </div>
</div>
