<!DOCTYPE html>
<html>
<head>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

</head>
<body style="background: url(/src/images/Screen.jpg) fixed center center no-repeat">
    <nav class="grey lighten-1">
        <div class="nav-wrapper">
            <div class="left">
                <img class="responsive-img circle" src="~/src/images/renegades.jpg" height="100" width="100" style="margin-left: 10px" />
            </div>
            <div class="center">
                <label style="font-size:x-large; color:black; text-transform:uppercase; font-weight:bold">Calculadora Waste by Leleo Knight</label>
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</body>
</html>
