<!DOCTYPE html>
<html>
<head>
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body style="background: url(/src/images/tibiascreen.jpg) fixed center center no-repeat">
    <nav class="grey lighten-1">
        <div class="nav-wrapper">
            <div class="left">
                <a asp-action="Index" asp-controller="Home">
                    <img class="responsive-img circle" src="~/src/images/renegades.jpg" height="100" width="100" style="margin-left: 10px" />
                </a>
            </div>
            <div class="center">
                <label style="font-size:x-large; color:black; text-transform:uppercase; font-weight:bold">Calculadora Waste</label>
            </div>
        </div>
    </nav>
    <div class="container" style="min-height: 850px;">
        @RenderBody()
    </div>
    <footer class="page-footer grey lighten-1">
        <div class="footer-copyright">
            <div class="container">
                © 2020 Desenvolvida e mantida por Leleo Knight
                <a class="grey-text text-lighten-4 right" href="https://github.com/leonardotonetti/calculadora-waste-tibia">
                    <img class="responsive-img" src="src/images/gitgubmark.jpg"/>
                </a>
            </div>
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

    @RenderSection("Scripts", false)

</body>
</html>
