<!DOCTYPE html>
<html>
<head>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

</head>
<body>

    <nav class="grey lighten-1">
        <div class="nav-wrapper">
            <div class="left">
                <img class="responsive-img circle" src="~/src/images/renegades.jpg" height="100" width="100" style="margin-left: 10px" />
            </div>
            <div class="center">
                <label style="font-size:x-large; color:black; text-transform:uppercase; font-weight:bold">Calculadora Waste by Leleo Knight</label>
            </div>
        </div>
    </nav>
    <div class="container" style="min-height:100vh; padding-top:25vh">
        <div class="row">
            <div class="center col s12 m12 l12">
                <div>
                    <a class="waves-effect waves-light grey lighten-1 btn">
                        <i class="material-icons left">
                            <img src="~/src/gifs/Crystal_Coin.gif" />
                        </i>Calculadora Simples
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="center col s12 m12 l12">
                <div>
                    <a class="waves-effect waves-light grey lighten-1 btn">
                        <i class="material-icons left">
                            <img src="~/src/gifs/Bar_of_Gold.gif" />
                        </i>Calculadora Completa
                    </a>
                </div>
            </div>
        </div>
    </div>

    @*<footer class="page-footer orange">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Company Bio</h5>
                        <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


                    </div>
                    <div class="col l3 s12">
                        <h5 class="white-text">Settings</h5>
                        <ul>
                            <li><a class="white-text" href="#!">Link 1</a></li>
                            <li><a class="white-text" href="#!">Link 2</a></li>
                            <li><a class="white-text" href="#!">Link 3</a></li>
                            <li><a class="white-text" href="#!">Link 4</a></li>
                        </ul>
                    </div>
                    <div class="col l3 s12">
                        <h5 class="white-text">Connect</h5>
                        <ul>
                            <li><a class="white-text" href="#!">Link 1</a></li>
                            <li><a class="white-text" href="#!">Link 2</a></li>
                            <li><a class="white-text" href="#!">Link 3</a></li>
                            <li><a class="white-text" href="#!">Link 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
                </div>
            </div>
        </footer>*@
    @RenderBody()

    <!--  Scripts-->
    @*<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>*@
    @*<script src="../../bin/materialize.js"></script>*@
    @*<script src="js/init.js"></script>*@



    <div class="hiddendiv common"></div><div class="drag-target" data-sidenav="nav-mobile" style="left: 0px; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>

    @RenderSection("Scripts", required: false)

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</body>
</html>
